@media only screen and (min-width: 641px){
    /* NAVIGATION CODE HERE */
    /* nav ul{
        padding: 0;
    }
    nav ul li{
        width: auto;
        margin: 0;
    }
    nav ul li a{

    } */
    /* NAVIGATION WITH JQUERY */

    #navWrapper{
        padding: 0;
    }
    button#showPhoneNav{
        display: none;
    }
    
    nav ul{
        display: block !important;
        padding: 0;
        margin: 0 0 0 2%;
        background-color: transparent;
        border:none;
        border-radius: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.4);
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        border:none;
        padding: 1em 1.5em;
        font-weight: 300;
        font-size: .9em;
        border-right: 1px solid rgba(255, 255, 255, 0.4);

    }
    nav ul li.active a{
        color: #fff !important;
        background-color: #ff7200;
    }

} /* End of media query */